@import '../../../../styles.scss';
.tableStyle{
    overflow: auto;
    overflow-x: hidden;
    height: 400px;

table {
   width: 100%;  
   table-layout: fixed;
   .idwidth{
    overflow: hidden;
    width: 10% !important;
    text-overflow: ellipsis !important;
    white-space: nowrap; 
   }
   .titlewidth{
    overflow: hidden;
    width: 50% !important;
    text-overflow: ellipsis !important;
    white-space: nowrap; 
   }
}
.select{
    cursor: pointer;
}

}
.displayBody{
    font-weight: bold;
    color: #2ECC40;
    }