/* You can add global styles to this file, and also import other style files */
@import "~@angular/material/prebuilt-themes/indigo-pink.css";
@import "~material-design-icons/iconfont/material-icons.css";
@import "~ng-pick-datetime/assets/style/picker.min.css";

$colors:(
    adminPrimary:  #00ccff,
    primary:#17202A,
    basic:#FFFFFF,
    basicDark: black,
    grayFrame: gray,
    lightPrimary: lighten( #06D6A0, 40% ),//A6D3A0
    darkPrimary: darken( #06D6A0, 40% ),
    pageBackground: #f1f3f6,
    error: red,
    pagehead: #48BF84,
    cardBackground : #464646,
    fontWhite :#FFFFFF,
    card1:#F433AB,
    card2:#00D9C0,
    card3:#F19A3E,
    card4:#1B98E0,
    card5:#EC4E20,
    card6:#C39BD3 , 
    New: #0074D9,
    Processing: #FF4136,
    Completed: #2ECC40,
    OrderStatus:  #F39C12 ,
    MatTableHeader :#708090 ,
    MatRowColor :#D6DBDF,
    MatOnHoverColor:#85C1E9,   
    AddButton: #C3BEF7,
    ActiveTab :#2F4F4F
);


$padding: (
    normal: 10px,
    low: 5px,
    high: 20px
);

$fontSize: (
    tiny: 5px,
    small: 8px,
    normal: 10px,
    medium :11px,
    subheading: 12px,
    altsize: 15px,
    heading: 18px,
    popupHead:25px,
    footerText:19px
);

@function color( $color-name ){
    @return map-get($colors, $color-name )
};

@function Padding( $pad-val ){
    @return map-get( $padding, $pad-val )
};

@function FontSize( $font-size ){
    @return map-get( $fontSize, $font-size )
};


$desktop: 960px;

@mixin desktop {
    @media ( min-width: #{$desktop} ){
        @content;
    }
}





  //Scroller Bar Design

::-webkit-scrollbar {
    width: 5px;
    height : 5px;
}

::-webkit-scrollbar-track {
    box-shadow: inset 0 0 5px grey; 
    border-radius: 20px;
}

::-webkit-scrollbar-thumb {
    background: rgb(77, 134, 172); 
   border-radius: 20px;
}

::-webkit-scrollbar-thumb:hover {
    background: #195774; 
}
  
 


//Global Mat Table Header Style
.TableHeaderStyle{
    background:color(MatTableHeader);
    height: 35px !important;
    .mat-header-cell{
        color: color(basic);
        font-size: 14px;
    }
}
.pointer{
    cursor: pointer;
}

//Global Mat Table Alternate Row Color

.mat-row:nth-child(even){
    background-color:color(MatRowColor);
    }

.mat-row:nth-child(odd){
    background-color:color(basic);
    }

//Global Mat Sort Header Icon Color
.mat-sort-header-arrow {
        color: color(basic) !important;
}
//Global Mat Table ROw OnHover Color Change
.mat-row:hover {
    background-color: color(MatOnHoverColor);
}

.Menu{
    .label{
        padding-left: 20px !important;
    }
}

.mat-row:nth-child(even){
    background-color:color(MatRowColor);
    }

.mat-row:nth-child(odd){
    background-color:color(basic);
    }

//Global Mat Sort Header Icon Color
.mat-sort-header-arrow {
        color: color(basic) !important;
}
//Global Mat Table ROw OnHover Color Change
.mat-row:hover {
    background-color: color(MatOnHoverColor);
}


.CardHeader{
    font-size: 12px;
    font-weight: 900 !important;
    color: #FFFFFF;
    .mat-card-title{
        font-size: 12px !important;
        font-weight: bold !important;
    }
  }
  .cardbkclr{
    background-color: #0074D9;
  }